@media screen and (max-width:720px){
    .company-name{
        margin-left: 5px;
    }
    
    .design-author{
        margin-right: 5px;
    }
}

@media screen and (max-width:561px){
    .menu-item a{
        font-size: 3vw;
    }
}

@media screen and (max-width:514px){
    .menu-item a{
        font-size: 2.5vw;
    }
}

@media screen and (max-width:430px){
    .menu-item a{
        font-size: 2vw;
    }
}

@media screen and (max-width:367px){
    .menu-item a{
        font-size: 1.5vw;
    }
}

@media screen and (max-width:321px){
    .menu-item a{
        font-size: 1vw;
    }
}







